<!DOCTYPE html>
<html>
<head>
    <title>Place Finder</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function initMap(lat, lng) {
            var myLatLng = {lat: lat, lng: lng};
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 15
            });
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Found Place'
            });
            $('#coordinates').text('Latitude: ' + lat + ', Longitude: ' + lng);
        }

        // function initConvertedMap(x, y, yaw) {
        //     var myLatLng = {lat: lat, lng: lng};
        //     var map = new google.maps.Map(document.getElementById('map'), {
        //         center: myLatLng,
        //         zoom: 15
        //     });
        //     var marker = new google.maps.Marker({
        //         position: myLatLng,
        //         map: map,
        //         title: 'Found Place'
        //     });
        //     $('#coordinates').text('X: ' + x + ', Y: ' + y + ', Yaw: ' + yaw);
        // }

        $(document).ready(function() {
            $('#find-form').submit(function(event) {
                event.preventDefault();
                var placeName = $('#place-name').val();
                $.post('/find_place', {place_name: placeName}, function(data) {
                    if (data.error) {
                        alert(data.error);
                        $('#coordinates').text('');
                    } else {
                        initMap(data.lat, data.lng);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Place Finder</h1>
    <form id="find-form">
        <input type="text" id="place-name" name="place_name" placeholder="Enter a place name">
        <button type="submit">Find</button>
    </form>
    <div id="map" style="height: 500px;"></div>
    <div id="coordinates"></div>
</body>
</html>