<?xml version="1.0"?>
<launch>
    <!-- open rviz -->
    <node name="rviz_sensors" pkg="rviz" type="rviz" args="-d $(find GEMstack)/visualize/sensors.rviz" />


    <!-- x, y, z, roll, pitch, yaw, parent_frame, child_frame --> <!-- m & rad -->
    <!-- base_link -> os_sensor -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_os_sensor"
        args="0 0 2.23 0 0 0 base_link os_sensor" />
    <!-- base_link -> livox_frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_livox"
        args="0.56 0 1.82 0 0.314 0 base_link livox_frame" />
    <!-- define the base_link as the projection of the ouster_lidar to the ground -->

</launch>
